// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$sky-blue: #F0F9FF;

// Colors perso:

$light-green: #62D0B1; //opacity: 0.2;  rgba($light-green, .2)
$dark-green: #62D0B1;
$light-blue: #1D8BEC; //opacity: 0.2;  rgba($light-blue, .2)
$dark-blue: #173753;
$light-saumon: #FAB189; //opacity: 0.2; rgba($light-saumon, .2)
$dark-saumon: #FAB189;
