<body>
  <h1>Welcome to TeamTrip.com, <%= @user.name %>
  </h1>
  <p>
    You have bee invited to join a Trip on TeamTrip !
  </p>
  <p>
    To login to the site, just follow this link: <%= @url %>.
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>

</html>
