.suggestion-form {
  color: rgb(63, 63, 63);
}

.modal-title {
  color: #183753;
}

.modal-body {
  border-radius: 5%;
}

.modal-dialog {
  width: 35rem;
}

.form-group {
  background-color: #62d0b12c;
  border-radius: 5%;
  width: 20rem;
  font-size: larger;
}

.form-control {
  padding: none !important;
  background-color:transparent !important;
  background-image: none !important;
}

.stripes {
background-image: linear-gradient(45deg, #58cc6f 25.64%, #3D6F8E 25.64%, #3D6F8E 50%, #58cc6f 50%, #58cc6f 75.64%, #3D6F8E 75.64%, #3D6F8E 100%);
background-size: 55.15px 55.15px;
border: none !important;
}

.modal-content {
  background-size: 66.47px 50.09px;
  border-radius: 2% !important;
}

#suggestion_price, #suggestion_comment, #suggestion_name {
  border: none;
  outline: none;
}

.suggestion_category {
  background: none !important;
}

.suggestion-form {
  border-radius: 5%;
}

.pac-container {
  z-index: 2147483647 !important;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: none !important;
  background-color: none !important;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA !important;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}


#suggestion_category_hotel + label {
  color: #537ba8;
}

#suggestion_category_hotel:checked + label {
  background-color: #86baf5;
  border-color: #86baf5;
}

#suggestion_category_restaurant + label {
  color: #50b899;
}

#suggestion_category_restaurant:checked + label {
  background-color: #a9e8d5;
  border-color: #a9e8d5;
}


#suggestion_category_activity + label {
  color: #c26c45;
}

#suggestion_category_activity:checked + label {
  background-color: #f7ae8c;
  border-color: #f7ae8c;
}
