body{
  font-weight: 300;
}

h1{
  color: $dark-blue;
  font-size: x-large;
  font-weight: 600;
}

h2{
  font-size: large;
  color: $dark-blue;
  font-weight: 600;
}

p{
  font-size: medium;
}

h3{
  font-size: small;
  color: $dark-blue;
  font-weight: 300;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}
