// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  // height: 300px;
  padding: 4rem 0 21rem 0;
  display: flex;
  // align-items: center;
  justify-content: center;
  align-items: flex-start;
  vertical-align: bottom;
  text-align: center;
  bottom: 0;
}

.banner h1 {
  // text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  // text-align: center;
  font-size: 32px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-banner{
  border-radius: 24px;
}

.img-comment {
  // height: 200px;
  float: right;
  clear: right;
  margin-left: 11rem;
  margin-top: 1rem;
  opacity: 0.4;
  // justify-content: right;
}

.card-body-home{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.cards-home {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-home{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
  border-radius: 1rem;
}

.card #comments {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
}
