// Import page-specific CSS files here.
@import "home";

#right-panel{
  flex-grow: 1;
}
  // map
#map {
  height: 100vh;
  position: sticky!important;
  top: 0;
}
#road-map {
  height: 100vh;
  width: 100%;
  position: sticky!important;
  top: 0;
}

#date {
  margin-top: 0.5rem;
  width: 25rem;
}

.calendar-index{
  text-align:center;
  border-radius: 0.5rem;
  border: 1px $dark-blue solid;
  background-color: red;

  width: 100%;
  border-radius: 0.5rem;
}



.calendar-container{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.calendar-wrapper-days{
  background-color: $dark-blue;
  color: white;
  font-weight: 700;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 5px;
}

.calendar-wrapper-links{
  background-color: #ECF4FE;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 5px;
}

.day-badge{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.day-badge:hover{
  background-color: $dark-blue;
  color: white;
  font-size: large;
  font-weight: 900;
  box-shadow: -3px 3px 5px 0px rgba(81,81,81,0.5);
  transition: 0.3s ease-in-out;
}

.day-badge-active{
    background-color: $dark-blue;
    color: white;
    font-size: large;
    font-weight: 900;
    box-shadow: -3px 3px 5px 0px rgba(81,81,81,0.5);
  }
