// Import page-specific CSS files here.
@import "home";

#right-panel{
  flex-grow: 1;
}
  // map
#map {
  height: 100vh;
  position: sticky!important;
  top: 0;
}

#date {
  margin-top: 0.5rem;
  width: 25rem;
}
