@import "components/card_roadmap";

#roadmap{
  display: flex;

  #body-roadmap{
    width: 100%;
    .calendar{
      display: flex;
      justify-content: space-evenly;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: .5rem;
      // border-bottom: lightgrey .1rem solid;
      box-shadow: 0px 8px 10px -15px #111;
    }

    .card-icon{
      display: flex;

      .column-icon{
        border: 2rem;
        height: 5rem;
        width: 5rem;
        padding: .5rem;
        margin-right: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;


        img{
          width: 3rem;
        }

      }
    }
  }

  #map{
    height: 100vh;
    width: 100%;
    position: sticky !important;
    top: 0;
  }

  #results {
  cursor: grab;
  }

  #results:active {
    cursor: grabbing;
  }

  #results.ghost {
    filter: grayscale(1);
    opacity: 0.8;
  }
}

.day-cost-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #62d0b1;
  font-weight: bold;
}
