@import "components/card_roadmap";

#roadmap{
  display: flex;

  #body-roadmap{
    width: 100%;
    .calendar{
      display: flex;
      justify-content: space-evenly;
      margin-top: 1rem;
    }
  }

  #map{
    height: 100vh;
    width: 100%;
    position: sticky !important;
    top: 0;
  }

  #results {
  cursor: grab;
  }

  #results:active {
    cursor: grabbing;
  }

  #results.ghost {
    filter: grayscale(1);
    opacity: 0.8;
  }
}
