.row {
  border: 1px solid;
}

.show-tabs {
  display: flex;
}

.tab {
  margin-right: 2em;
}

h3 {
  padding: 0px;
  margin: 0px;
}

.show-cards {
  border: 1px solid;
  flex-grow: 1;
}

.weekday{
  text-align: center;
  font-weight: 700;
  color: $dark-blue;
  margin-bottom: 0;
}

.current-date{
  font-weight: 600;
  font-size: medium;
  background-color: $dark-blue;
  color: white;
  border: 1px solid $dark-blue;
  border-radius: 10px;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.side-day{
  text-decoration: none;
  font-size: small;
  opacity: 0.75;
}

.day-arrow{
  opacity: 0.75;
  text-decoration: none;
  color: $dark-blue;
}

.middle-container{
  width: 33%;
}

.side-day-container{
  width: 33%;
}

.side-day-container:hover{
  .day-arrow{
  text-decoration: none;
  opacity: 1;
  }
  .side-day{
  text-decoration: none;
  opacity: 1;
  }
}

.nav-link{
  border: none;
  border-radius: 0.5rem 0.5rem 0 0;
}

.nav-link:hover{
  border-radius: 0.5rem 0.5rem 0 0;
}

#nav-hotel-tab.active{
 background-color: $dark-blue;
 margin: none;
 color: white;
 font-weight: 600;
 border: 0;
 border-radius: 0.5rem 0.5rem 0 0;
 font-size: 1.2rem;
}

#nav-restaurant-tab.active{
 background-color: $dark-saumon;
 margin: none;
 color: white;
 font-weight: 600;
 border: 0;
 border-radius: 0.5rem 0.5rem 0 0;
 font-size: 1.2rem;
}

#nav-activity-tab.active{
 background-color: $dark-green;
 margin: none;
 color: white;
 font-weight: 600;
 border: 0;
 border-radius: 0.5rem 0.5rem 0 0;
 font-size: 1.2rem;
}
