<div class="footer">
  <div class="footer-copyright text-center">
    <%=  image_tag('TeamTrip_logo.png', width:"170rem") %>
    <%# TeamTrip %>
    <%# This website was made with <i class="fas fa-heart"></i> at Le Wagon %>
    <br>
    <p><i class="far fa-copyright"></i> 2021 TeamTrip. Build at Le Wagon.</p>
  </div>
</div>
