<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="container px-5">
    <h1>Organize your group trip easily</h1>
    <p>Find out what you can do and start planning!</p>
    <a  type="button" href="/trips/new" class="btn btn-primary btn-lg py-2 px-5 btn-banner"><strong>Start a trip now!</strong></a>
  </div>
</div>

<!--
<div class="container">

  <h3 class="text-center m-5">WHY RENT A DOPPLE?</h3>
  <div class="cards-home">
    <div class="card home card-home" style="width: 18rem;">
      <% image_tag "https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80",  class: "d-block w-100", alt: "Singer doppleganger" %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body">
        <p class="card-text">Surprise every star fan!</p>
      </div>
    </div>

    <div class="card home card-home" style="width: 18rem;">
      <%= image_tag "https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80",  class: "d-block w-100", alt: "Singer doppleganger" %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body">
        <p class="card-text">Liven up your event like never before!</p>
      </div>
    </div>

    <div class="card home card-home" style="width: 18rem;">
      <%= image_tag "https://previews.123rf.com/images/rawpixel/rawpixel1902/rawpixel190202719/116618839-diverse-group-of-friends-taking-a-selfie-at-a-rooftop-party.jpg",  class: "d-block w-100 h-286", alt: "Singer doppleganger" %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body">
        <p class="card-text">Leave your guests wondering if it is really them!</p>
      </div>
    </div>
  </div>

  <h3 class="text-center m-5">WHAT OUR CUSTOMERS SAY...</h3>
  <div id="comments" class="cards-home mb-5">
    <div class="card card-home review pt-4" style="width: 18rem;">
      <%# cl_image_tag("Screen_Shot_2021-11-03_at_16.06.51_mxspba",
      width: 56, height: 56, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body-home">
        <p class="card-text name">Romain P.</p>
        <p class="card-text">François was funny and drunk just like Gerard Depardieu could be. <br> A night to remember!</p>
      </div>
      <div>
      <%# cl_image_tag("kisspng-computer-icons-quotation-mark-double-happiness-5ac4274b8ca935.4150054715228045555762_tbwpdr",
      width: 56, height: 56, crop: :thumb, class: "img-comment") %>
      </div>
    </div>

    <div class="card card-home review pt-4" style="width: 18rem;">
      <%# cl_image_tag("LeWagonPicture_k0p2b3",
      width: 56, height: 56, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <div class="card-body-home">
        <p class="card-text name">Vincent V.</p>
        <p class="card-text">Eric's voice is just mind blowing. My mom got goosebumps right away! She just fell in love with Avril Lavigne's dopple!</p>
      </div>
      <div>
      <%# cl_image_tag("kisspng-computer-icons-quotation-mark-double-happiness-5ac4274b8ca935.4150054715228045555762_tbwpdr",
      width: 56, height: 56, crop: :thumb, class: "img-comment") %>
      </div>
    </div>

    <div class="card card-home review pt-4" style="width: 18rem;">
      <%# cl_image_tag("camilleMartin_raadvo",
      width: 56, height: 56, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <div class="card-body-home">
        <p class="card-text name">Camille M.</p>
        <p class="card-text">Caroline played her part perfectly as Michelle Obama, my guests were amazed by her skills!</p>
      </div>

      <div>
      <%# cl_image_tag("kisspng-computer-icons-quotation-mark-double-happiness-5ac4274b8ca935.4150054715228045555762_tbwpdr",
      width: 56, height: 56, crop: :thumb, class: "img-comment") %>
      </div>
    </div>
  </div>
-->
