<div class="d-flex flex-column">
  <div>
    <h4>Trip Members :</h4>
  </div>
  <div class="d-flex trip-member-avatar-wrapper">
    <% trip_modal = TripMember.find_by(@current_user).trip_id %>
    <% TripMember.where(trip_id: trip_modal).each do |data| %>
      <div class="trip-member-avatar-edit"><strong><%= "#{data.user.first_name.capitalize} #{data.user.last_name.first.capitalize}" %></strong>
        <div class="user-info-on-hover-edit"><%= "#{data.user.first_name.capitalize} #{data.user.last_name.capitalize}" %></div>
      </div>
    <% end %>
  </div>
  <h2 class="member-invite">Invite a new trip member:</h2>
  <div class="d-flex flex-row">
    <input class="input-group-text email-invite" id="basic-addon3" placeholder="email">
    <button type="button" class="btn btn-outline-success" id="sweet-alert">Invite!</button>
  </div>
  <div class="Votes-lock">
    <h4>Close votes for this trip</h4>
    <%= button_to "freeze the votes!", lock_trip_trip_path(@trip), method: :patch  %>
  </div>
</div>
