#body-roadmap{
  height: 100%;

  .card-top{
    margin-left: 5rem;
  }

  .category-card{
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  }

  .item-card{
    height: 5rem;
    width: 100%;
    border-radius: .5rem;
    margin-bottom: .5rem;
  }

    #color-activities{
      background-color: rgba($light-green, .2);
    }

    #color-restaurants{
      background-color: rgba($light-saumon, .2);
    }

    #color-hotel{
      background-color: rgba($light-blue, .2);
    }

    .text-container{
      color: $dark-blue;
      // font-weight: bold;
    }

    .text-container{
      padding: 1rem;
    }
    .info-container{
      padding: 1rem;
    }

    .image-card{
      height: 100%;
      width: 8rem;
      border-top-left-radius: .5rem;
      border-bottom-left-radius: .5rem;
      object-fit: cover;
    }

}
