.show-card{

  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding-left: 4rem!important;
    padding-bottom: 2rem;
  }

  .background-hotel{
    background-color: $dark-blue;
  }
  .background-restaurant{
    background-color: $dark-saumon;
  }
  .background-activity{
    background-color: $dark-green;
  }

  .vote-pill{
    border-radius: 25px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    p{
      margin-bottom: 0!important;
      font-size: 1.25ch;
    }
  }

  .single-card{
    border-radius: 10px;
  }

  // .cover-img{
  //   height: 5rem;
  //   width: 100%;
  //   object-fit: cover;
  // }

  .img-card-show{
    // width: 100%;
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .a-activity{
    color: $dark-green;
  }
  .a-hotel{
    color: $dark-blue;
  }
  .a-restaurant{
    color: $dark-saumon;
  }

  .dark-green{
    background-color: $dark-green;
  }
  .dark-blue{
    background-color: $dark-blue;
  }
  .dark-saumon{
    background-color: $dark-saumon;
  }
  .light-green{
    background-color: rgba($light-green, .2);
  }
  .light-saumon{
    background-color: rgba($light-saumon, .2);
  }
  .light-blue{
    background-color: rgba($light-blue, .2);
  }

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}
