.body-index{
  height: 100%;
}

.category-card{
  margin-left: 5rem;
  margin-right: 3rem;
  width: 70%;
  margin-top: 1rem;

  .item-card{
    height: 5rem;
    width: 100%;
    border-radius: .5rem;
    margin-bottom: .5rem;
  }

  .category-title{
    padding-left: .8rem;
    font-weight: bold;
  }

  .add-suggestion-green{
    text-decoration: none;
    background-color: $dark-green;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }

  .add-suggestion-blue{
    text-decoration: none;
    background-color: $dark-blue;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
  }

  .add-suggestion-saumon{
    text-decoration: none;
    background-color: $dark-saumon;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }


  #color-activities{
    background-color: rgba($light-green, .2);
  }

  #color-restaurants{
    background-color: rgba($light-saumon, .2);
  }

  #color-hotel{
    background-color: rgba($light-blue, .2);
  }

  .text-container{
    color: $dark-blue;
    font-weight: bold;
  }

  .text-container{
    padding: 1rem;
  }
  .info-container{
    padding: 1rem;
  }

  .image-card{
    height: 100%;
    width: 8rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    object-fit: cover;
  }
}
