.add_suggestion{
  text-decoration: none;
}

.rounded_circle{
  color: red!important;
}

.category-card{
  margin-left: 3rem;
  margin-right: 3rem;
}

#color-activities{
  background-color: rgba($light-green, .2);
}

.dark-blue{
  color: $dark-blue;
}
