.show-card{
  #nav-hotel {
    .unvoted-thumb, .voted-thumb{
      color: $dark-blue;
    }
  }

  #nav-restaurant{
    .unvoted-thumb, .voted-thumb{
      color: $dark-saumon;
    }
  }

  #nav-activity{
    .unvoted-thumb, .voted-thumb{
      color: $dark-green;
    }
  }

  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding-left: 4rem!important;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .background-hotel{
    background-color: $dark-blue;
  }
  .background-restaurant{
    background-color: $dark-saumon;
  }
  .background-activity{
    background-color: $dark-green;
  }

  .vote-pill{
    border-radius: 25px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    color: $dark-blue;
    p{
      margin-bottom: 0!important;
      font-size: 1.25ch;
    }
    opacity: 1;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2), 0px 5px 7px rgba(0,0,0,.4);
  }

  .unvoted-pill{
    opacity: 0.6;
  }

  .single-card{
    box-shadow: 0px 2px 5px rgba(0,0,0,.2), 0px 5px 7px rgba(0,0,0,.4);
      transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  }

  .single-card:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    .img-card-show{
      opacity: 0.5;
    }

    .unvoted-thumb, .voted-thumb{
      display: flex;
    }

    .unvoted-pill{
      opacity: 1;
    }
    // box-shadow: 3px 5px 20px rgba($dark-green,.3), 3px 5px 15px rgba($dark-green,.6);
  }

  .voted{
    border: 5px solid $dark-green;
    border-radius: 15px;
  }

  .unvoted{
    border-radius: 10px;
    .img-card-show{
      opacity: 0.7;
    }
  }

  .unvoted-thumb{
    display: none;
  }

  .voted-thumb{
    display: none;
  }

  // .cover-img{
  //   height: 5rem;
  //   width: 100%;
  //   object-fit: cover;
  // }

  .img-card-show{
    // width: 100%;
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .a-activity{
    color: $dark-green;
  }
  .a-hotel{
    color: $dark-blue;
  }
  .a-restaurant{
    color: $dark-saumon;
  }

  .dark-green{
    background-color: $dark-green;
  }
  .dark-blue{
    background-color: $dark-blue;
  }
  .dark-saumon{
    background-color: $dark-saumon;
  }
  .light-green{
    background-color: rgba($light-green, .2);
  }
  .light-saumon{
    background-color: rgba($light-saumon, .2);
  }
  .light-blue{
    background-color: rgba($light-blue, .2);
  }

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}
