.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 2rem;
  padding: 1rem 2rem;
  color: rgba(0,0,0,0.3);

  p{
    padding-top: .2rem;
    font-size: 14px;
    margin-bottom: 0;
  }
}

.footer .fa-heart {
  color: #D23333;
}
