.navbar-lewagon {
  padding: 0 2rem;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
// }

.centered-links {
  justify-content: center;
  margin: 0 4rem;
}

.add-text-color{
  color: white!important;
  // font-weight: bold;
}
