.navbar-lewagon {
  padding: 0 2rem;
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;

    .size-title{
      width: 100%;
      margin-right: 2rem;
      font-size: 1.2rem;

      .trip-title{
        padding-left: .5rem;
      }
    }
  }

  .align-items-center{
    margin-right: 3rem;
  }

}


// .navbar-lewagon .navbar-brand img {
// }

.centered-links {
  justify-content: space-between;
  margin: 0 4rem;
}

.add-text-color{
  color: white!important;
  // font-weight: bold;
}

.trip-member-avatar-wrapper{
  position: relative;
}

.trip-member-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.15rem;
  padding: 0.25rem;
  height: 30px;
  width: 30px;
  font-size: 0.5rem;
  border-radius: 50%;
  border: 1px;
  border-style: solid;
  z-index: 1000;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;

    .user-info-on-hover {
      display: inline-block;
    }
  }

  .user-info-on-hover{
    display: none;
    position: absolute;
    width: 180px;
    text-align: center;
    top: 35px;
    border: solid black;
    border-width: 0.5px;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 0.75rem;
    background-color: white;
  }
}

//Navbar-edit-trip
.edit-trip {
margin-right: 5px;
}

.fa-edit {
  color: #163753;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-left: 1rem;
  margin-right: 3rem;
  vertical-align: bottom;
  cursor: pointer;
}

.locked-bar {
  background-color: rgb(226, 130, 130);
  background-size: 58.65px 54.69px;  border: solid rgba(255, 0, 0, 0.747);
  border-width: 0.5px;
  height: 2rem;
  font-weight: bold;
  font-size: larger;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  width: 100%;
}


.nav-link-active{
  background-color: #62d0b1;
  width: 7vw;
}

.nav-link-inactive{
  background-color: white;
  width: 7vw;
}
.nav-link-inactive:hover{
  background-color: #62d0b1;
}
